body {
  padding-top: 20px 10px; 
}


.garden-header {
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
  top:0;
  text-align: center;
}

.chart-container,.my-garden, .my-best-flower {
  
  margin-bottom: 20px; 
}