/* π μ „μ²΄ νμ΄μ§€ μ„¤μ • */
html,
body {
  width: 100%;
  max-width: 100vw;
<<<<<<< HEAD
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Korail Round Gothic Bold", sans-serif;
  background-color: #f5f5f5; /* λ°°κ²½ μƒ‰μƒ μ¶”κ°€ */
}

/* π“± μ•± μ „μ²΄λ¥Ό κ°μ‹Έλ” μ»¨ν…μ΄λ„ */
.app-container {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 00px;
}
=======
  overflow-x: hidden; /* κ°€λ΅ μ¤ν¬λ΅¤ λ°©μ§€ */
  margin: 0;
  padding: 0;
  font-family: "Korail Round Gothic Bold", sans-serif;
  background-color: #f0f0f0; /* μ™Έλ¶€ λ°°κ²½μ„ μ•½κ°„ νμƒ‰ ν†¤μΌλ΅ */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

  
  /* π“± μ•± μ „μ²΄λ¥Ό κ°μ‹Έλ” μ»¨ν…μ΄λ„ */
  .app-container {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 00px;
  }
  
>>>>>>> lms
