
.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: auto; 
  font-size: 13px;
  border: none;
  box-sizing: border-box; 
  max-width: 368px; 
  
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  background-color:white;
  
  border-radius: 10px;
}

.calendar-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.calendar-weekdays {
  display: grid;
  font-size: 15px;
  color: #00A806;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.calendar-days {
  display: grid;
  font-size: 15px;
  padding:10px;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  gap: 10px;
}

.calendar-weekday, .calendar-day {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.calendar-day.empty {
  background-color: #f0f0f0;
}

.calendar-day.selected {
  background-color:#00A806;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.prev-button, .next-button {
  width:15px; 
  height: 15px; 
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.prev-button {
  background-image: url('../assets/icons/화살표\(왼\).png'); 
}

.next-button {
  background-image: url('../assets/icons/화살표\(오\).png'); 
}

.calendar-day.prev-month, .calendar-day.next-month {
  color: #ccc;
}
.calendar-buttons {
  display: flex;
  justify-content: space-between; 
  width: 75%;
  padding: 10px;
}

.save-button, .close-button {
  padding: 10px 20px;
  width:100px;
  height: 40px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.save-button {
  background-color: #00A806;
  color: white;
}

.close-button {
  background-color: #ffffff;
 
  color: black;
}