.garden-header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  background-color: #fff; 
  z-index: 1000;
  padding: 21px;
  display: flex;
  height: 101px;
  justify-content:space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
h1{
  font-size: 20px;
}
.date-selector {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.date-selector button {
  margin: 0 5px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.date-selector button:hover {
  background-color: #e0e0e0;
}