.mygarden {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top:100px;
  border-radius: 8px;
  width: 370px;
  box-shadow: 0px 0.5px 3px 0px #00000033;

}
h2{
  font-size: 15px;
}
.garden-plants {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 한 행에 3개씩 */
   /* 항목들 사이의 간격 */
  justify-items: center; /* 항목들을 중앙 정렬 */
  
}

.plant {
  width: 100px; /* 각 식물 아이템의 너비를 부모로 맞춤 */
  height: 100px; /* 각 식물 아이템의 높이 */
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.plant img {
  max-width: 90%; /* 이미지 크기 제한 */
  height: auto;
  border-radius: 50%; /* 원형 이미지 */
  margin-bottom: 2px; /* 이미지와 텍스트 간 간격 */
  border-radius: 8px;
  
  box-shadow:  0px 0.5px 3px 0px #0000001A;
  ; /* 그림자 추가 */

}

.plant p {
  font-size: 12px;
  color: #000000;
  margin: 0;
  padding-bottom: 5px;
}